<h1>Welcome {{firstName}}, the time is now: {{currentTime}}. You get super secret admin access since you are an admin.
    Remember, with great power comes great responsibility.</h1>
<a href="/protected">Access Protected Page</a>
<br>
<a href="/logout">Logout</a>