<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/lab10.css">
</head>

<body class="container-fluid">
    <main>
        {{{body}}}
    </main>
    {{#if injectScript}}
    <script src="/public/js/lab10.js"></script>{{/if}}
</body>

</html>