  <h1>Venue Finder</h1>
  <p>I am Venue Finder application. I use TicketMaster API to fetch the
    venues of your choice. Please enter keyword to search</p>
  <form action="/searchvenues" method="POST" onsubmit="">
    <label for="searchVenueTerm">Enter Venue Keyword:</label>
    <input type="text" id="searchVenueTerm" placeholder="Enter Venue name. For example: 'stadium'"
      name="searchVenueTerm" />
    <input type="submit" value="Search" />
  </form>
